@page
@model ProjectCA.Pages.InstrumentTypes.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Instrument Type</h1>
@*Creating a new instrument Type*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InstrumentType.Type" class="control-label"></label>
                <input asp-for="InstrumentType.Type" class="form-control" />
                <span asp-validation-for="InstrumentType.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Calibration Interval (months)</label>
                <input asp-for="InstrumentType.CalibrationInterval" class="form-control" />
                <span asp-validation-for="InstrumentType.CalibrationInterval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
