@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<a href="/Admin">Admin</a><br/>
<a href="/Technician">Technician</a>
<br/>
<a href="/Instruments/Index">Instruments</a>
<br/>
<br/>

